<!DOCTYPE html>
<html lang="en">
<head>
    <title>Terminale 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="img/login.png"/>
</head>
<body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <div class="container">

        <br><br><br><br><br>

        <!--    FORM    -->
        <div class="row">
            <div class="col col-md-3"></div>

            <div class="col col-md-6">

                <form action="" method="POST">

                    <label for="exampleInputEmail1">TERMINALE 1</label><br><br>

                    <!--    TEMPO ROSSO   -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Rosso (in secondi)</label>
                        <input type="text" class="form-control" name="tRosso">
                    </div>

                    <!--    TEMPO GIALLO    -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Giallo (in secondi)</label>
                        <input type="text" class="form-control" name="tGiallo">
                    </div>
                    
                    <!--    TEMPO VERDE    -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Verde (in secondi)</label>
                        <input type="text" class="form-control" name="tVerde">
                    </div>

                    <!--    STATO    -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Stato (attivo/spento)</label>
                        <input type="text" class="form-control" name="stato">
                    </div>

                    <!--    SUBMIT BUTTON   -->
                    <button type="submit" class="btn btn-dark">Send</button>               
                </form>
                {% if error %}
                    <p class="error">Tempi sbagliati</p>
                {% endif %}

                <br><br><br><br>

                
            </div>
        </div>


    </div>
</body>
</html>